*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --clr-background: white;
    --clr-background2: #EEEEEE;
    --clr-color: black;
    --clr-textColor: black;
    --clr-textNavColor: black;
    --clr-spanColor: #4f4f5a;

    
}

.darkMode{
    --clr-background: black;
    --clr-background2: black;
    --clr-color: white;
    --clr-textColor: white;
    color: white;
    --clr-textColor: black;
    --clr-textNavColor: white;
    --clr-spanColor: white;
}


body{
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    
}

a{
    text-decoration: none;
}

h2{
    font-family: 'Amatic SC', sans-serif;
}

 header{
    width: 100%;
    text-align: center;
    margin: 60px 0 40px 0;
}


 header h2{
    font-size: 50px;
}

 header h2 span{
    color: #D42F2F;
}

header span{
    color: #7D7D7D;
}


.container{
    width: 83%;
    margin: 0 auto;
}

/*-----------------------------------------------------------
                           navbar section
------------------------------------------------------------*/
#navbar{
    background-color: var(--clr-background);
    width: 100%;
    
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
}

#navbar .item{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar ul{
    position: relative;
}

#navbar ul li {
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    display: inline;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

#navbar ul li a{
    text-decoration: none;
    color: var(--clr-spanColor);
    position: relative;
}

#navbar ul li a::after{
    content: "";
    background-color: #E61414;
    width: 0%;
    height: 3px;
    position: absolute;
    top: 104%;
    left: 2%;
    transition: all .5s;
}

#navbar ul li a:hover::after{
    width: 100%;
}

#navbar ul li a:hover {
    color: var(--clr-textNavColor);
}

#navbar ul li a:active {
    color: #E61414;
    font-size: 150%;
}

#navbar .item h1{
    font-weight: 700;
    font-size: 30px;
    position: relative;
}

#navbar .item h1::after{
    content: ".";
    color: #E61414;
    position: absolute;
    top: -63%;
    left: 96%;
    font-size: 55px;
}
#navbar .item .mode{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

#navbar .item .mode .bar{
    margin-left: 15px;
    visibility: hidden;
}

#navbar .moon{
    cursor: pointer;
}


/*-----------------------------------------------------------
                           home section
------------------------------------------------------------*/
#home{
    background-color: var(--clr-background2);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#home .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
}

#home .item img{
    width: 100%;
}

#home .item .image{
width: 40%;
}

#home .item span{
    color: #D42F2F;
}

#home .item .caption{
    width: 40%;
}

#home .item .caption h1{
    font-family: 'Amatic SC', sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}

#home .item .caption p{
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--clr-spanColor)
}

#home .item input{
    background-color: #E61414;
    padding: 10px 15;
    color: white;
    font-size: 18px;
    border: none;
    margin-right: 20px;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

#home .item input:hover{
    background-color: #d42727;
    cursor: pointer;
}


#home .item button{
    border: none;
    font-size: 18px;
    padding: 10px 15;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#home .item button .play{
    margin-right: 10px;
}

#home img:hover{
    animation-name: tilt-n-move-shaking ; 
    animation-duration: .2s;
    animation-iteration-count: infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(2px, 0px) rotate(1deg); }
    50% { transform: translate(2, 2) rotate(0deg); }
    75% { transform: translate(-2px, 2px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

/*-----------------------------------------------------------
                           chefs section
------------------------------------------------------------*/
#chefs {
    background-color: var(--clr-background);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#chefs .items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 60px 0;
}

#chefs .card img{
    width: 100%;
}


#chefs .card .image1{
    position: absolute;
    top: 51%;
    left: -9%;
}

#chefs .card .image2{
    position: absolute;
    top: 51%;
    left: 83%;
    z-index: 1;
}

@media(max-width:850px) {
    #chefs .card .image1 {    
      top: 57%
    } 
    #chefs .card .image2 {    
        top: 57%
    }  
  } 


#chefs .card{
    background-color: #FFFFFF;
    width: 30%;
    margin-bottom: 40px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    transition: transform .5s ;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
}

#chefs .card:hover{
    transform: scale(1.05);
}

#chefs .card .icon i{
    color: #47464d70;
    display: block;
    margin: 10px 0;
    font-size: 25px;
}

#chefs .card .icon i:hover{
    color: #47464d;
}

#chefs .card .icon{
    border-radius: 7px;
    padding:10px;
    background-color: #F0E9E3;
    position: absolute;
    top: 48px;
    right: -92px;
    transition: right .3s .1s;
    transition-timing-function: ease-in;
}

#chefs .card:hover .icon{
    right: 17px;
}

#chefs .card .caption{
    background-color:white;
    color: var(--clr-textColor);
}

/* #chefs .card .caption::before {   
    content: "";
    width: 100%;
    height: 98px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 53vw top;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23FFF5EE'/></svg>");
  }
  
  @media(max-width:850px) {
    #chefs .card .caption::before {    
      height: 49px
    }  
  } */

#chefs .card .caption h3{
    margin: 40px 0 5px 0;
    
}
 
#chefs .card  .caption span{
    color: #7f7f90;
    padding: 10px 0;
}

#chefs .card  .caption p{
    padding: 5px 30px 30px 30px;
    color: #7f7f90;
}

/*-----------------------------------------------------------
                           Check Our Gallery section
------------------------------------------------------------*/
#gallery {
    background-color: var(--clr-background2);
    width: 100%;
    overflow: hidden;
}

#gallery .image img{
    width: 100%;
    transition: transform .5s;
    
}

#gallery .image{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#gallery .image .column{
    flex:  33.33%;
    max-width: 33.33%;
}

#gallery .card {
    box-sizing: border-box;
    padding: 10px;
    
}

#gallery .card .inear{
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

#gallery .card .caption{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gallery .card .caption {
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    z-index: 1;
    transition: all 1s;
}

#gallery .card:hover .caption{
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

#gallery .card:hover img{
    transform: scale(1.2);
}

/*-----------------------------------------------------------
                           Contact Us section
------------------------------------------------------------*/
#contact{
    background-color: var(--clr-background);
    overflow: hidden;
}

#contact .map iframe{
    width: 100%;
    margin-bottom: 30px;
}

#contact .cont .parent .child h3{
    color: #7D7D7D;
}

#contact .cont .parent .child p{
    margin-top: 5px;
}

#contact .cont .parent .child span{
    font-weight: 900;
}

#contact .cont .child{
    color: var(--clr-textColor);
}

#contact .cont{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .cont .parent{
    background-color: #F5F5F5;
    width: 49%;
    padding: 20px 0;
    margin: 10px 0;
    
}

#contact .cont .parent i{
    background-color: #CE1212;
    font-size: 25px;
    color: white;
    padding: 11px;
    margin: 0 20px 010px;
    border-radius: 50%;
    

}

#contact .cont .parent .child{
    display: inline-block;
}


form{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.42);
-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.42);
}

#contact input{
    padding: 15px 20px;
    margin: 15px 0;
    border: 3px solid #E8E3E3;
    transition: 0.5s;
    outline: none;
}
#contact input:focus{
    border: 3px solid #E61414;
}

#contact .item{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact  input[id=email]{
    width:49%;
    
}
#contact  input[id=name]{
    width:49%;
    
}

#contact input[id=subject]{
    width:100%;
}

#contact textarea{
    width:100%;
    margin: 15px 0;
    border: 3px solid #E8E3E3;
    transition: 0.5s;
    outline: none;
}

#contact textarea:focus{
    border: 3px solid #E61414;

}

#contact button{
    background-color: #CE1212;
    padding: 13px 30px;
    border: none;
    border-radius: 30px ;
    margin: 15px 0;
    font-size: 18px;
    color: white;
}

#contact button:hover{
    background-color: #cf1b1b;
    cursor: grab;
}

/*-----------------------------------------------------------
                           footer section
------------------------------------------------------------*/

footer{

    background-image: url(../img/textured-metal-background.jpg);
    background-size:cover;
    padding: 50px 0 ;
    color:white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    line-height: 1.5;
}

footer h3{
    margin-bottom: 15px   ;
}

footer .items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


footer .item1{
    width: 24%;
}
footer .item2{
    width: 49%;
    
}
footer .item3{
    width: 24%;
    
}


footer .logo{
    
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px ;
}

footer .logo img{
    width: 21%;
    text-align: center;
    margin-right: 10px;
    
}

footer .logo h3{
    font-weight: 700;
    font-size: 30px;
    position: relative;
}

footer .logo h3::after{
    content: ".";
    color: #E61414;
    position: absolute;
    top: -63%;
    left: 96%;
    font-size: 55px;
}

footer .item1 p{
    margin: 15px 0;
}

footer .icon{
    text-align: center;
}


footer .icon i{
    font-size: 25px;
    margin: 15px;
}

footer .item2 .email {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

footer .item2 .email input[type=email]{
    width: 74%;
    padding: 13px 0;
    border: none;
}

footer .item2 .email button{
    width: 25%;
    padding: 13px 0;
    background-color: #CE1212;
    border: none;
    font-size: 18px;
    color: white;
}

footer .item2 .email i{
    font-size: 25px;
    color: white;
    margin-right: 5px;
}

footer .item2 .link p{
    background-color: transparent;
    width: 45%;
    position: relative;
    transition: left 3s ;
    margin: 5px 0;
    font-size: 18px;
}

footer .item2 .link p:hover{
    position: relative;
    left: 3%;
    background-color: #7D7D7D;
    
    
}


footer .item2 .link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .item3 p,footer .item3 h3{
    margin: 20px;
    
}

footer .item3 i{
    margin-right:10px ;
    color: #CE1212;
    font-size: 30px;
}















/*@media all and (max-width: 575px) {
}
@media all and (min-width: 576px) (max-width: 767px) {
    
}
@media all and (min-width: 768px) (max-width: 991px) {

}
@media all and (min-width: 992px) (max-width: 1199px) {

}
@media all and (min-width: 1200px) {

}*/


